# Copy this to .env and update as needed

# Path to the SQLite database of seen articles
DB_PATH=

# Subscriber-specific URL to the ArsTechnica RSS feed
ARS_FEED_URL=

# E-mail address the digest is sent on behalf of
FROM_EMAIL=

# E-mail address that should receive the digest mail
RECIPIENT_EMAIL=

# API key for Sendgrid to send out the digest - if using Sendgrid
SENDGRID_API_KEY=

# AWS credentials to send out the digest - if using Amazon SS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS=
AWS_REGION=
